name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  docker-build-push:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v3

      # Step 2: Log in to Docker Hub (hardcoded)
      - name: Log in to Docker Hub
        run: |
          echo "password3301" | docker login -u "w1dow1" --password-stdin

      # Step 3: Build Docker image
      - name: Build Docker image
        run: |
          docker build -t w1dow1/service-app:latest .

      # Step 4: Push Docker image to Docker Hub
      - name: Push Docker image
        run: |
          docker push w1dow1/service-app:latest
