name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  DOCKER_IMAGE: w1dow/service-app
  DOCKER_TAG: latest
  DOCKER_USERNAME: w1dow
  DOCKER_PASSWORD: password3301##

jobs:
  docker-build-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        run: |
          echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

      - name: Build Docker image
        run: |
          docker build -t $DOCKER_IMAGE:$DOCKER_TAG .

      - name: Push Docker image
        run: |
          docker push $DOCKER_IMAGE:$DOCKER_TAG
